/* ------------------------- ГЛОБАЛЬНЫЕ ТЕГИ -------------------------*/
body {
  margin: 0 auto;
  padding: 0;
  width: 1263px;
  height: 800px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  /* background-color: #f2f2f2;
  background-image: url("../img/bphoto.jpg");
  background-position: top center;
  background-repeat: no-repeat; */
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shadow {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0;

  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.4);
}
/* ------------------------- HEADER -------------------------*/


.main-navigation {
  width: 1200px;
  height: auto;

  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.navigation-item-left  {
  width: 50%;
  height: auto;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.navigation-item-left li {
  width: 239px;
  height: auto;

  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;

  background-color: #ffffff;
}

.navigation-item-right {
  width: 50%;
  height: auto;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.navigation-item-right li {
  width: 239px;
  height: auto;

  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;

  background-color: #ffffff;
}

.navigation-item-right a:hover,
.navigation-item-left a:hover  {
  color: #81b3d2;
}

.navigation-item-right a:focus,
.navigation-item-left a:focus {
  color: #000000;
  opacity: 0.7;
}

.navigation-item-right a:active,
.navigation-item-left a:active {
  color: #766357;
  opacity: 1;
}

.head-logo {
  position: fixed;
  top: 0;
  left: 571px;
  z-index: 1;
}

.klin-back {
  width: 1200px;
  height: 564px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  background-color: #f2f2f2;
  background-image: url("../img/bphoto.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 1;
}

/* ------------------------- MAIN -------------------------*/

/* .main-main {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
} */

.main-column {
  width: 1200px;
  max-height: 216px;

  margin: 0 auto;
  margin-bottom: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: #ffffff;
}

.main-column  h1 {
  margin: 52px auto 30px;
  padding: 0;
}

.main-column p {
  margin: 0 auto 50px;
  padding: 0;
}
/* ---------------------------------------WARNING:-----------------------------  */
/* .reasons {
  width: 1200px;
  height: auto;

  margin: 0 auto;
  padding: 0;

  display: flex;
} */

.reasons-items,
.reasons-item-top-right {
  position: relative;
  width: 1200px;
  height: auto;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.reasons-item-top,
.reasons-item-top-right {
  width: 400px;
  height: 256px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
  background-color: #81b3d2;
}

.reasons-item-top::after {
  content: "";
  position: absolute;

  left: 400px;

  width: 800px;
  height: 256px;

  background-color: #81b3d2;
  background-image: url("../img/city-f.jpg");
  background-repeat: no-repeat;
}


.reasons-item-top h2,
.reasons-item-top-right h2 {
  margin: 0;
  margin-top: 45px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.reasons-item-top span,
.reasons-item-top-right span {
  position: relative;
  margin: 21px 0;

  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}


.reasons-item-top span::before,
.reasons-item-top-right span::before {
  content: "";
  width: 1px;
  height: 8px;
  top: 6px;
  left: 180px;


  transform: rotate(90deg);

  position: absolute;
  background-color: #ffffff;
}

.reasons-item-top span::after,
.reasons-item-top-right span::after {
  content: "";
  width: 1px;
  height: 8px;
  top: 6px;
  right: 180px;

  transform: rotate(90deg);

  position: absolute;
  background-color: #ffffff;
}

.reasons-item-top p,
.reasons-item-top-right p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.reasons-item-top-right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 400px;

  width: 800px;
  height: 256px;

  background-color: #81b3d2;
  background-image: url("../img/devil-f.jpg");
  background-repeat: no-repeat;
  z-index: -1;
}

.reasons-item-top-right li {
  align-self: flex-end;
}

.bottom-order {
  width: 1200px;
  height: auto;

  margin: auto;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.reasons-item-bottom {
  width: 400px;
  height: 256px;
  margin: 0;
  padding: 0;

  display: flex;
  order: -1;

  text-align: center;
  flex-direction: column;

  font-size: 21px;
  line-height: 21px;

  list-style: none;

  background-color: #ffffff;
  /* border: 1px solid #000000; */
}

.reasons-item-bottom h2 {
  margin: 0;
  margin-top: 45px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.reasons-item-bottom span {
  position: relative;
  margin: 21px 0;

  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
}


.reasons-item-bottom span::before {
  content: "";
  width: 1px;
  height: 8px;
  top: 6px;
  left: 180px;


  transform: rotate(90deg);

  position: absolute;
  background-color: #000000;
}

.reasons-item-bottom span::after {
  content: "";
  width: 1px;
  height: 8px;
  top: 6px;
  right: 180px;


  transform: rotate(90deg);

  position: absolute;
  background-color: #000000;
}

.reasons-item-bottom p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
/* ---------------------------------------WARNING:-----------------------------  */
.features {
  width: 1200px;
  height: 328px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.features-items {
  position: relative;
  width: 100%;
  min-height: 328px;

  margin: 0;
  padding: 0;

  display: flex;
}

.features-item {
  width: 400px;
  height: 328px;
  margin: 0;
  padding: 0;

  display: flex;

  text-align: center;
  flex-direction: column;

  font-size: 21px;
  line-height: 21px;

  list-style: none;

  background-color: #ffffff;
  /* border: 1px solid #000000; */
}

.features-item h2 {
  margin: 0;
  margin-top: 158px;
  margin-bottom: 25px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.features-item p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.features-items li:first-child::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 72px;

  top: 60px;
  left: 162px;

  background-image: url("../img/icon-1.svg");
}

.features-items li:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 74px;
  height: 70px;

  top: 60px;
  left: 560px;

  background-image: url("../img/icon-2.svg");
}

.features-items li:last-child::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 76px;

  top: 60px;
  right: 162px;

  background-image: url("../img/icon-3.svg");
}
/* ------------------------- FOOTER-MAP -------------------------*/

.booking {
  width: 636px;
  height: 146px;
  margin: 45px auto 25px;
  padding: 0;

  display: block;
  text-align: center;
}

.booking h3 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
}

/* ------------------------- FORM POPUP -------------------------*/

.searching-hotel-sedona {
  position: relative;
  width: 568px;
  height: 483px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  background-color: #ffffff;
}

.searching-hotel[type="button"] {
  display: inline-block;
  width: 100%;
  height: 86px;
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
  border: 0;
  cursor: pointer;
}

.searching-hotel[type="button"]:hover {
  background-color: #604e43;
}

.searching-hotel[type="button"]:focus {
  background-color: #503e33;
}

.searching-hotel[type="button"]:active {
  color: #928a85;
  background-color: #503e33;
}

.form-search {
  position: relative;
  width: 458px;
  height: auto;

  margin: 0 55px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.form-search label {
  display: inline;

  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-size: inherit;
  font-weight: bold;
}


.form-search input {
  box-sizing: border-box;
  width: 346px;
  height: 38px;

  margin: 0;
  padding: 0;
  padding-right: 40px;

  font-size: inherit;
  font-weight: bold;
  text-align: center;

  border: 0;
}

.calendar-up {
  position: absolute;
  width: 21px;
  height: 22px;
  top: -6px;
  right: 7px;

  background-image: url("../img/calendar-01.png");
  cursor: pointer;
}

.calendar-down {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 71px;
  right: 7px;

  background-image: url("../img/calendar-01.png");
  cursor: pointer;
}

.calendar:hover {
 background-image: url("../img/calendar-02.png");
}

.calendar:active {
  background-image: url("../img/calendar-03.png");
}

.plus-minus-wrapper {
  width: 458px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.adult {
  position: relative;
  width: 229px;

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.children {
  position: relative;
  width: 229px;

  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 80px;
  padding: 0;
}

.num {
  font-size: 14px;
  font-weight: bold;
}
.adult .num {
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.children .num {
  margin: 0;
  margin-right: 45px;
  padding: 0;
}

.ad-button-minus {
   position: absolute;
   width: 12px;
   height: 7px;
   top: -3px;
   left: 127px;
   background-image: url("../img/minus.png");
   background-repeat: no-repeat;
   cursor: pointer;
}

.ad-button-plus {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -7px;
  left: 190px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.ch-button-minus {
  position: absolute;
  width: 12px;
  height: 7px;
  top: -3px;
  left: 100px;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.ch-button-plus {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -7px;
  left: 165px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.minus:hover {
  background-image: url("../img/minus-02.png");
}

.minus:active {
  background-image: url("../img/minus-03.png");
}

.plus:hover {
  background-image: url("../img/plus-02.png");
}

.plus:active {
  background-image: url("../img/plus-03.png");
}

.s-map {
  width: 1200px;
  height: auto;
  display: flex;
  margin: 0;
  margin-top: -400px;
  margin-right: auto;
  margin-left: auto;
}

.search[type="button"] {
  display: inline-block;
  width: 458px;
  height: 58px;

  margin: auto;
  margin-top: 40px;
  padding: 0;

  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;

  background-color: #81b3d2;
  border: 0;
}

.search[type="button"]:hover {
  background-color: #669ec0;
}

.search[type="button"]:active {
  color: #c0c0c0;
  background-color: #5496bd;
}
/* ------------------------- MAIN FOOTER -------------------------*/

.main-footer {
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid #000000; */
  background-image: url("../img/f-back.png");
  background-repeat: repeat;
}

.main-footer-wrapper {
  position: relative;
  width: 100%;
  margin-left: 110px;
  margin-right: 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .main-footer-wrapper span:first-child {
  font-size: 21px;
  text-transform: uppercase;
  color: #000000;
}

.social-icon {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.social-icon li:first-child  {
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 7px;
  margin-left: 10px;
  list-style: none;

  background-image: url("../img/t.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.social-icon li:first-child:hover {
  background-image: url("../img/t-02.png");
}

.social-icon li:first-child:active{
  background-image: url("../img/t-03.png");
}

.social-icon li:nth-child(2) {
  width: 46px;
  height: 48px;
  margin-right: 7px;
  list-style: none;
  background-image: url("../img/f.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.social-icon li:nth-child(2):hover {
  background-image: url("../img/f-02.png");
}

.social-icon li:nth-child(2):active {
  background-image: url("../img/f-03.png");
}

.social-icon li:last-child {
  width: 46px;
  height: 48px;
  list-style: none;
  background-image: url("../img/y.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.social-icon li:last-child:hover {
  background-image: url("../img/y-02.png");
}

.social-icon li:last-child:active {
  background-image: url("../img/y-03.png");
}

 .logo-academy svg {
  position: absolute;
  content: "";
  top: 7px;
  right: -120px;
  width: 115px;
  height: 41px;
  border: 1px sold #000000;
}

.logo-academy path:hover {
  fill: #81b3d2;
}

.logo-academy path:active {
  fill: #bdbbbc;
}
